.card {
    /* Add shadows to create the "card" effect */
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: auto;
    /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    margin: auto;
    padding: 2px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    margin: auto;
    /* border-radius: 5px 5px 0 0; */
    align-items: center;
}

ul {
    margin: auto;
    padding: 15px;
    list-style: none;
}

h3 {
    margin: auto;
    padding: 15px;
}